<div class="container">
  <div class=" text-center mt-5 ">

    <h1>Contact</h1>


  </div>


  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">

          <div class = "container">
            <form id="contact-form" role="form">
              <div class="controls">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_name">prénom </label>
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="entrez votre prénom" required="required">

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_lastname">nom</label>
                      <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="entrez votre nom" required="required">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_email">Email </label>
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="entrez votre email" required="required">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Message</label>
                      <textarea id="form_message" name="message" class="form-control" placeholder="ecris ton message ici..." rows="4" required="required"></textarea
                      >
                    </div>

                  </div>


                  <div class="col-md-12 text-center mt-2">

                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="envoyer" >

                  </div>

                </div>


              </div>
            </form>
          </div>
        </div>


      </div>
      <!-- /.8 -->

    </div>
    <!-- /.row-->

  </div>
</div>
