
<div class="responsive-Display">
  <ul>
    <li><a routerLink="/profile/compte">mon compte</a></li>
    <li><a  routerLink="/profile/borrows">mes emprunts</a></li>
    <li>
      <a *ngIf="omnitheque != null" routerLink="/omnitheque/{{omnitheque.id}}">mon omnitheque</a>
      <a *ngIf="omnitheque == null" routerLink="/profile/omnitheque/create">Créer mon omnitheque</a>
    </li>
  </ul>
</div>

<div *ngIf="borrows">

  <div *ngIf="borrows.length>0">

    <table   class="table table-striped">
      <thead>
      <tr>
        <th scope="col">id </th>
        <th scope="col">start </th>
        <th scope="col">end </th>
        <th scope="col">produit </th>
        <th scope="col"> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let borrow of borrows ">
        <th scope="row">{{borrow.id}}</th>
        <td>{{borrow.startBorrow}}</td>
        <td>{{borrow.endBorrow}}</td>
        <td>{{borrow.product ? borrow.product.name : borrow.productId}} <a routerLink="product/{{borrow.productId}}">🔍</a></td>
        <td *ngIf="!borrow.returned">
          <button class="btn btn-primary margin-right-2">prolonger</button>
          <button class="btn btn-primary" (click)="return(borrow.id)">retour</button>
        </td>
        <td *ngIf="borrow.returned">OK</td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshBorrows()">
      </ngb-pagination>

      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshBorrows()">
        <option [ngValue]="5" selected>5 produits par page</option>
        <option [ngValue]="10">10 produits par page</option>
        <option [ngValue]="20">20 produits par page</option>
      </select>
    </div>

  </div>

  <h2  *ngIf="borrows.length < 1">liste de produits est vide</h2>
</div>
