<div *ngIf="!errorMessage && !resetOk" class="container justify-content-center text-center">
  <h1>Reinitialisez votre mot de passe</h1>
  <input  [(ngModel)]="password" name="password" type="password" class="form-control w-auto mx-auto my-3" type="email" placeholder="mot de passe">
  <input  [(ngModel)]="confirmPassword" name="confirmPassowrd" type="password" class="form-control w-auto mx-auto my-3" type="email" placeholder="confirmez le mot de passe">
  <button class="btn btn-outline-success" (click)="reset()">réinitialiser</button>
</div>



<div *ngIf="errorMessage" class="container justify-content-center text-center">
  <h1 class="text-danger">Une error est survenue:</h1>
  <p>{{errorMessage}}</p>
</div>

<div *ngIf="resetOk" class="container justify-content-center text-center">
  <h1 class="text-success">Votre mot de passe à été modifier.</h1>
  <h2 class="text-success">Vous pouvez vous connecter avec votre nouveau mot de passe.</h2>
</div>

