<h1 class="text-center">Créer un compte</h1>
<form class="w-50 mx-auto" [formGroup]="registerForm" >
  <div  class="mb-3">
    <label for="firstName" class="form-label">Prénom</label>
    <input formControlName="firstName" type="text" class="form-control" id="firstName">
    <div *ngIf="!formValide &&!registerForm.controls.firstName.valid " class="form-text text-danger">le prénom est invalid</div>
  </div>
  <div  class="mb-3">
    <label for="lastName" class="form-label">Nom</label>
    <input formControlName="lastName" type="text" class="form-control" id="lastName">
    <div *ngIf="!formValide &&!registerForm.controls.lastName.valid " class="form-text text-danger">le nom est invalid</div>
  </div>
  <div  class="mb-3">
    <label for="birthdate" class="form-label">Date de naissance</label>
    <!--TODO : calcul birthdate min (ojd - 110 ans) max (ojd - 7ans)-->
    <input formControlName="birthdate" type="date" min="1912-01-01" max="2015-12-31" class="form-control" id="birthdate">
    <div *ngIf="!formValide &&!registerForm.controls.birthdate.valid " class="form-text text-danger">la date de naissance est invalid</div>
  </div>

  <div id="address" class="row g-3" formGroupName="address">
    <div class="col-9">
      <label for="street" class="form-label">Addresse</label>
      <input formControlName="street" type="text" class="form-control" id="street" placeholder="rue">
      <div *ngIf="!formValide &&!registerForm.controls.address.controls.street.valid "class="form-text text-danger">la rue est invalid</div>
    </div>
    <div class="col-3">
      <label for="number" class="form-label">  Numéro </label>
      <input formControlName="number" type="text" class="form-control" id="number" placeholder="n°">
      <div *ngIf="!formValide &&!registerForm.controls.address.controls.number.valid "class="form-text text-danger">le numéro est invalid</div>
    </div>

    <div class="col-md-6">
      <label for="city" class="form-label">Ville</label>
      <input formControlName="city" type="text" class="form-control" id="city">
      <div *ngIf="!formValide &&!registerForm.controls.address.controls.city.valid "class="form-text text-danger">la ville est invalid</div>
    </div>
    <div class="col-md-2">
      <label for="cp" class="form-label">CP</label>
      <input  formControlName="cp" type="number" class="form-control" id="cp">
      <div *ngIf="!formValide &&!registerForm.controls.address.controls.cp.valid "class="form-text text-danger">le cp est invalid</div>
    </div>
    <div class="col-md-4">
      <label for="country" class="form-label">Pays</label>
      <select  formControlName="country" id="country" class="form-select">
        <option value="Belgique"> Belgique </option>
        <option value="France"> France </option>
      </select>
    </div>
  </div>

  <div  class="mb-3">
    <label for="phone" class="form-label">numero de téléphone</label>
    <input formControlName="phone" type="text" class="form-control" id="phone">
    <div *ngIf="!formValide &&!registerForm.controls.phone.valid "  class="form-text text-danger">le numéro de téléphone est invalid</div>
  </div>
  <div  class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email">
    <div *ngIf="!formValide &&!registerForm.controls.email.valid " class="form-text text-danger">l'email est invalid</div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Mot de pass</label>
    <input formControlName="password" type="password" class="form-control" id="password">
    <div *ngIf="!formValide &&!registerForm.controls.password.valid && !registerForm.controls.confirmPassword.getError('noMatch') " class="form-text text-danger">le mot de passe doit contenir 6 carractère dont au moins une lettre et un chiffre</div>
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirmer mot de pass</label>
    <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">
    <div *ngIf="!formValide &&!registerForm.controls.confirmPassword.valid && !registerForm.controls.confirmPassword.getError('noMatch') " class="form-text text-danger">le mot de passe doit contenir 6 carractère dont au moins une lettre et un chiffre</div>
    <div *ngIf="registerForm.controls.confirmPassword.getError('noMatch')" class="form-text text-danger">les mot de pass ne correspondent pas</div>
  </div>
    <div *ngIf="registerError" >
      <p class="form-text text-danger">{{registerError.message}}</p>
    </div>
  <button (click)="register()" class="btn btn-primary">s'enregistrer</button>
</form>
