.mySideBar{
  min-height: 100vh;
  height: 100%;
}
.responsive-noDisplay{
  min-height: 100vh;
  height: 100%;
}
.myResponsiveSideBar{
  min-height: auto;
  height: auto;
}
@media screen and (max-width: 1150px) {
  .responsive-noDisplay{
    display: none;
  }
}
@media screen and (min-width: 1150px) {
  .responsive-Display{
    display: none;
    width: 100% !important;
  }

}
