
<div class="responsive-Display">
  <ul>
    <li><a>Actualité</a></li>
    <li><a>Catalogue</a></li>
    <li><a>à propos de nous</a></li>
    <li *ngIf="omnitheque && user?.omnitheque">
      <a *ngIf="omnitheque.id == user.omnitheque.id" routerLink="update">modifier infos</a>
    </li>
  </ul>
</div>


<div *ngIf="omnitheque?.id == user?.omnitheque?.id" class="container justify-content-center">
  <a  routerLink="createProduct" class="btn btn-outline-primary">ajouter un produit</a>
</div>

<div *ngIf="products">

  <div *ngIf="products.length>0">
    <table   class="table table-striped">
      <thead>
      <tr>
        <th scope="col">image </th>
        <th scope="col">Nom </th>
        <th scope="col">Categorie</th>
        <th scope="col">description</th>
        <th *ngIf="user && user.omnitheque && omnitheque.id == user.omnitheque.id" scope="col">Examplaires</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products ">
        <ng-container *ngIf="
          product.quantity &&
          (borrowsProgress(product)<product.quantity ||
          omnitheque?.id == user?.omnitheque?.id )
        ">
          <td><img width="100px" height="100px" src="{{ product.image != 'string' ? product.image : 'http://res.cloudinary.com/dsuyae7y8/image/upload/v1665739795/khbagudgo7zusq9rz2rz.png'}}"></td>
          <td><div>{{ product.name }}</div></td>
          <td> <div>{{tradCategory(product.category)}}</div> </td>
          <td><div class="description">{{ product.description}}</div></td>
          <td *ngIf=" omnitheque.id == user?.omnitheque?.id"  class="text-center">{{ product.quantity}}</td>
          <td>
            <ng-container *ngIf=" omnitheque.id != user?.omnitheque?.id">
              <a *ngIf="checkBorrow(product.id)" (click)="borrow(product)" class="btn btn-primary">emprunter</a>
              <a *ngIf="!checkBorrow(product.id)" routerLink="/profile/borrows" class="text-success">emprunt en cours</a>
            </ng-container>
            <ng-container *ngIf="omnitheque.id == user?.omnitheque?.id" >
              <a  routerLink="update/{{product.id}}" class="btn btn-primary m-2">éditer</a>
              <button (click)="delete(product.id)" class="btn btn-primary">supprimer</button>
            </ng-container>

          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshProducts()">
      </ngb-pagination>

      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
        <option [ngValue]="5" selected>5 produits par page</option>
        <option [ngValue]="10">10 produits par page</option>
        <option [ngValue]="20">20 produits par page</option>
      </select>
    </div>

  </div>

  <h2  *ngIf="products.length < 1">liste de produits est vide</h2>
</div>
