<li  *ngIf="!token" class="nav-item app-auth">
  <form [formGroup]=loginForm class="d-flex">
    <input  formControlName="email" name="email" class="form-control w-auto me-1" type="email" placeholder="email">
    <input  formControlName="password" name="password" class="form-control w-auto me-1" type="password" placeholder="mot de pass">
    <button class="btn btn-outline-success" (click)="login()">se connecter</button>
    <button *ngIf="!token" class="btn btn-outline-success m-register" routerLink="/register">s'enregistrer</button>
  </form>
</li>

<li *ngIf="token" class="nav-item dropdown ">
  <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    👤
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="/profile">page profil</a></li>
    <li><a (click)="logout()" class="dropdown-item" href="#">se déconnecter</a></li>
  </ul>
</li>
