.responsive-Display{
  display: none;
}

.responsive-Display ul{
  display: flex;
  justify-content: space-around;
}

.responsive-Display ul li{
  list-style: none;
}
.responsive-Display ul li a {
  text-decoration: none;
  color: black;
}
.responsive-Display ul li a:hover {
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .responsive-Display{
    display: contents;
  }
}
