<h1 class="text-center">nouveau produit</h1>
<form class="w-50 mx-auto" [formGroup]="productForm" >
  <div class="container">
    <button class="p-2 m-2" id="upload_widget" class="cloudinary-button" (click)="cloudinaryGo()" >choisir une image</button>
    <img height="100px" class="p-2 m-2" [src]="productForm.value.image" alt="image du produit">
  </div>

  <div  class="mb-3">
    <label for="name" class="form-label">nom du produit</label>
    <input formControlName="name" type="text" class="form-control" id="name">
    <!--    <div id="erreur_firstName" class="form-text text-danger">test d'erreur</div>-->
  </div>

  <div  class="mb-3">
    <label for="description" class="form-label">description</label>
    <textarea maxlength="2000" formControlName="description" type="text" class="form-control" id="description"></textarea>
    <!--    <div id="erreur_phone" class="form-text text-danger">test d'erreur</div>-->
  </div>
  <div  class="mb-3">
    <label for="quantity" class="form-label">nombre d'examplaires</label>
    <input formControlName="quantity" type="number" class="form-control" id="quantity">
    <!--    <div id="erreur_email" class="form-text text-danger">test d'erreur</div>-->
  </div>
  <div class="col-md-4">
    <label for="category" class="form-label">categorie</label>
    <select  formControlName="category" id="category" class="form-select">
      <option *ngFor="let category of categories" value="{{category}}"> {{category.toLowerCase()}} </option>
    </select>
  </div>

  <button (click)="create()" class="btn btn-primary mt-2">créer</button>
</form>
