<div class="container px-5">
  <div *ngIf="product" class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
    <div class="col-12 col-lg-7 text-center">
      <h2 class="display-4 lh-1 mb-4 text-center">{{product.name}}</h2>
      <p class="lead fw-normal text-muted mb-5 mb-lg-0 description-500">{{product.description}}</p>
      <button *ngIf="urlSegments[1] == 'omnitheque' " class="btn btn-primary mt-5" (click)="backFromOmni(product.omnithequeId)">retour aux emprunts</button>
      <button *ngIf="urlSegments[1] == 'profile' " class="btn btn-primary mt-5" (click)="backFromProfile()">retour à mes emprunts</button>
    </div>
    <div class=" col-lg-5 col-sm-8 col-md-6 text-center">
      <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="{{product.image}}" alt="image produit" /></div>
    </div>
  </div>
</div>
