<div *ngIf="!errorMessage && !requestSent" class="container justify-content-center text-center">
  <h1>Entrez votre adresse email</h1>
  <input  [(ngModel)]="email" name="email" type="email" class="form-control w-auto mx-auto my-3"  placeholder="email">
  <button class="btn btn-outline-success" (click)="requestReset()">envoyer</button>
</div>

<div *ngIf="errorMessage" class="container justify-content-center text-center">
  <h1 class="text-danger">Une error est survenue:</h1>
  <p>{{errorMessage}}</p>
</div>

<div *ngIf="requestSent" class="container justify-content-center text-center">
  <h1 class="text-success">Un email vous à été envoyé</h1>
  <button class="btn btn-outline-success" (click)="back()">retour</button>
</div>


